@import '../../styles/abstracts/variables';

.sign-up {
  background-color: $color-main-bgc;
  padding: 50px 50px 50px 50px;
}

.sign-up__info-block {
  width: 40%;
}

.info-block__img-wrapper {
  margin-bottom: 150px;
  .sign-up__cobra-title {
    font-size: 50px;
    color: #dfe6e9;
    width: 325px;
  }
}

.sign-up__agreement {
  font-size: 20px;
  color: #dfe6e9;
}

.sign-up__form-wrapper {
  padding: 70px 0 0 100px;
  flex-grow: 1;
}

.sign-up__text-input {
  margin-bottom: 25px;
  width: 400px;
}

.sign-up__submit-wrapper {
  width: 400px;
}
