
.header {
  width: 100%;
  height: 260px;
  padding: 0 100px;
  background: url(../../assets/images/imgbin_under-construction-png.png) no-repeat center center;
  background-color: #2d3436;
  // background-position: center;
  background-size: 31%;
  
  .header__logo {
    span, a {
      font-size: 40px;
      color: #dfe6e9;
     
    }
  }
}